@media (max-width: 1890px){
    h1{
        font-size:2.5em;
    }
}
@media (max-width: 1600px){
    .box, .box.box-close {
        width: 70%;
    }
    .box-topnav {
        width: calc(70% + 250px);
    }
}
@media (max-width: 1350px){
    h1{
        font-size:2.5em;
    }

    #logo img {
        width: 2.5em;
    }   
}
@media (max-width: 920px){
    h1{
        font-size:2em;
    }
    #logo img{
        width:2.5em;
    }
    .box, .box.box-close {
        width: 60%;
    }
    .box-topnav {
        width: calc(60% + 180px);
    }

    .footer-box{
        margin-top:100px;
    }

}

@media (max-width: 790px){
    .box, .box.box-close {
        width: calc(100% - 220px);;
    }
    .box-topnav {
        width: calc(100% - 40px);
    }
    .footer-box{
        flex-direction:column;
        margin-top:30px;
    }
    .footer-box-right{
        padding-top: 30px;
        width: 100%;
    }
    
    .footer-box-left{
        margin-bottom: 30px;
        width: 100%
    }
    .footer-box-center{
        width: 100%
    }
}
@media (max-width: 700px) {
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 520px){
    
    body{
        font-size: 20px;
    }

    .container {
        margin-bottom: 50px;
    }

    .customer li{
        width: 33.333%;
    }
    
    #logo img{
        width:5em;
    }
    h1{
        font-size:3.5em;
    }
    
}

/* iphone 6/7/8 Plus e Alcuni modelli samsung */
@media (max-width: 459px){
    
    .customer li {
        width: 33.333%;
    }   
    
    body {
    }
    #logo img{
        width:4em;
    }
    
    .customer img {
        max-height: 90px
    }
    
    h1{
        font-size:3.5em;
    }

    .box, .box.box-close {
        width: calc(100% - 100px);;
    }
    .box-topnav {
        width: calc(100% - 40px);
    }
    
    .footer-box span {
        width: 100%;
    }
    
    h3{
        font-size: 40px;
    }
    
    p {
        font-size: 20px;
    }
    
    h2 {
        font-size: 10px;
    } 
    
}

/* Galaxy s9/s9+ iphone/6/7/8 */
@media (max-width: 375px){
    h1{
        font-size: 3em;
    }
      
    .customer li{
        width: 33.333%;
    }
    
    .customer img {
        max-height: 120px
    }
    
    .spacer {
        height: 20vh;
    }
    
    .footer-box{
        font-size: 20px;
    }
}

@media (max-width: 320px){
    h1{
        font-size: 2.3em;
    }
}

